@page "/"

<PageTitle>Dashboard</PageTitle>

@using FrostAura.Clients.PointsKeeper.Data
@using FrostAura.Clients.PointsKeeper.Shared.Models
@using FrostAura.Clients.PointsKeeper.Components.Enums.DynamicForm
@inject PointsKeeperDbContext dbContext
@inject IJSRuntime JsRuntime

@if (points == null)
{
    <p><em>Loading...</em></p>
}
else if (!points.Any())
{
    <hr>
    <p>No points yet. Let's capture some!</p>
}
else
{
    <div class="container fancy-font">
        <div class="content">
            <div class="total" style="flex: 1">
                <div>R @GetTotal()</div>
                <div class="small-text">Out of R @ConfigOptions.Value.MonitaryTarget (@GetProgressPercentage()%)</div>
            </div>
            <div class="thermometer desktop">
                <img style="width: 150px" src="/img/thermometer.png" />
                <div class="progress-placeholder">
                    <div class="progress-progress" style="height: @GetProgressPercentage()%"></div>
                </div>
            </div>
            <div class="points" style="flex: 1">@GetTotalPoints() Points</div>
        </div>
        <div class="metrics">
            <img style="width: 100%" src="/img/vs_banner.png"/>
        </div>
        <div class="ladder fancy-font">
            @foreach (var match in points.Take(POINTS_TO_DISPLAY_IN_LADDER))
            {
                <div class="match">
                    <img class="left" style="width: 45%" src="/img/ladder.png" />
                    <div class="player-data">
                        <div class="small-fixed">@match.Player1Score</div>
                        <div style="flex: 1;">@match.Player1.Name</div>
                    </div>
                    <div class="circle circle-left"></div>
                    <img class="right" style="width: 45%; transform: scale(-1, 1);" src="/img/ladder.png" />
                    <div class="circle circle-right"></div>
                    <div class="player-data">
                        <div style="flex: 1;">@match.Player2.Name</div>
                        <div>@match.Player2Score</div>
                    </div>
                </div>
            }
        </div>
    </div>
}
