@page "/points"

<PageTitle>Capture Points</PageTitle>

@using FrostAura.Clients.PointsKeeper.Data
@using FrostAura.Clients.PointsKeeper.Shared.Models
@using FrostAura.Clients.PointsKeeper.Components.Enums.DynamicForm
@inject PointsKeeperDbContext dbContext
@inject IJSRuntime JsRuntime

<h1>Capture Points</h1>
<p>Capture points for a single match (2x players) that will then reflect on the dashboard. Showing the most recent 5 points captured.</p>

@if (points == null)
{
    <p><em>Loading...</em></p>
}
else if (!points.Any())
{
    <hr>
    <p>No points yet. Let's capture some!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Player 1</th>
                <th>Points</th>
                <th>Player 2</th>
                <th>Points</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var point in points)
            {
                <tr>
                    <td>@point.Player1.Name</td>
                    <td>@point.Player1Score</td>
                    <td>@point.Player2.Name</td>
                    <td>@point.Player2Score</td>
                    <td>@point.TimeStamp.ToString("H:mm:ss, MMMM dd, yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else if (!players.Any(p => !p.Deleted))
{
    <p>No players yet. Start by navigating to the Teams tab and create some.</p>
}
else
{
    <DynamicForm TDataContextType="Point"
                 DataContext="newPoint"
                 OnValidSubmit="OnCapturePointAsync"
                 SubmitButtonText="Capture Points"
                 PropertyEffects="formPropertyEffects"
                 ValidationSummaryPosition="ValidationSummaryPosition.FormBottom"></DynamicForm>
    <button @onclick="OnResetPointsAsync" class="btn btn-danger">
        <span class="oi oi-ban" aria-hidden="true"></span> Reset Points
    </button>
}